.cart-dropdown {
  position: absolute;
  right: 0;
  top: 100%;
  width: 300px;
  background-color: lightgreen;
  border: 3px solid black;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  padding: 16px;
  z-index: 1000;
  color: black;
  border-radius: 10px;
  font-size: 18px;
  font-family:"Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif ;
}

.cart-dropdown ul {
  list-style-type: none;
  padding: 0;
}

.cart-dropdown li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.subtotal {
  margin-top: 10px;
  font-weight: bold;
}

.checkout-button {
  background-color: black;
  color: white;
border-radius: 8px;
border-style: none;
box-sizing: border-box;
color: #FFFFFF;
cursor: pointer;
display: block;
font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 14px;
font-weight: 500;
height: 40px;
line-height: 20px;
list-style: none;
margin: 0;
outline: none;
padding: 10px 16px;
position: relative;
text-align: center;
text-decoration: none;
transition: color 100ms;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
}


.cart-item-name {
  font-weight: bold;
  color: black; /* Change font color to black */
}

.cart-item-quantity {
  color: black; /* Change font color to black */
}

.empty-cart {
  padding: 20px;
  text-align: center;
  color: black; /* Change font color to black */
}

.view-cart-button {
  display: block;
  padding: 10px;
  text-align: center;
  background-color: #007bff;
  color: white; /* Keep font color white for the button */
  text-decoration: none;
  border-top: 1px solid #eee;
}

.remove-btn {
  background-color: black;
  color: white; 
  cursor: pointer;
  border: black;
  border-radius: 5px;
  padding: 5px;
}